* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root{
    background-color: lightblue;
}

#root {
    height: 100vh;
    padding: 10px;
    background-color: lightblue;
}